In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('GasPricesinBrazil_2004-2019.csv', sep=';')
df.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [3]:
del[df['Unnamed: 0']]

In [4]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   106823 non-null  object
 1   DATA FINAL                     106823 non-null  object
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 6   UNIDADE DE MEDIDA              106823 non-null  object
 7   PREÇO MÉDIO REVENDA            106823 non-null  float64
 8   DESVIO PADRÃO REVENDA          106823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           106823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 11  MARGEM MÉDIA REVENDA           106823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: float64(5), int64(3), object(12)
memory usage: 16.3+ MB

In [6]:
x = df.columns
x

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO', 'MÊS',
       'ANO'],
      dtype='object')

In [7]:
x = x.str.replace(' ','_')
x

Index(['DATA_INICIAL', 'DATA_FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO_DE_POSTOS_PESQUISADOS', 'UNIDADE_DE_MEDIDA',
       'PREÇO_MÉDIO_REVENDA', 'DESVIO_PADRÃO_REVENDA', 'PREÇO_MÍNIMO_REVENDA',
       'PREÇO_MÁXIMO_REVENDA', 'MARGEM_MÉDIA_REVENDA',
       'COEF_DE_VARIAÇÃO_REVENDA', 'PREÇO_MÉDIO_DISTRIBUIÇÃO',
       'DESVIO_PADRÃO_DISTRIBUIÇÃO', 'PREÇO_MÍNIMO_DISTRIBUIÇÃO',
       'PREÇO_MÁXIMO_DISTRIBUIÇÃO', 'COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO', 'MÊS',
       'ANO'],
      dtype='object')

In [8]:
df.columns = x

In [9]:
df.columns

Index(['DATA_INICIAL', 'DATA_FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO_DE_POSTOS_PESQUISADOS', 'UNIDADE_DE_MEDIDA',
       'PREÇO_MÉDIO_REVENDA', 'DESVIO_PADRÃO_REVENDA', 'PREÇO_MÍNIMO_REVENDA',
       'PREÇO_MÁXIMO_REVENDA', 'MARGEM_MÉDIA_REVENDA',
       'COEF_DE_VARIAÇÃO_REVENDA', 'PREÇO_MÉDIO_DISTRIBUIÇÃO',
       'DESVIO_PADRÃO_DISTRIBUIÇÃO', 'PREÇO_MÍNIMO_DISTRIBUIÇÃO',
       'PREÇO_MÁXIMO_DISTRIBUIÇÃO', 'COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO', 'MÊS',
       'ANO'],
      dtype='object')

In [10]:
df['DATA_INICIAL'] = pd.to_datetime(df['DATA_INICIAL'])
df['DATA_FINAL'] = pd.to_datetime(df['DATA_FINAL'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA_INICIAL                   106823 non-null  datetime64[ns]
 1   DATA_FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO_DE_POSTOS_PESQUISADOS   106823 non-null  int64
 6   UNIDADE_DE_MEDIDA              106823 non-null  object
 7   PREÇO_MÉDIO_REVENDA            106823 non-null  float64
 8   DESVIO_PADRÃO_REVENDA          106823 non-null  float64
 9   PREÇO_MÍNIMO_REVENDA           106823 non-null  float64
 10  PREÇO_MÁXIMO_REVENDA           106823 non-null  float64
 11  MARGEM_MÉDIA_REVENDA           106823 non-null  object
 12  COEF_DE_VARIAÇÃO_REVENDA       106823 non-null  float64
 13  PREÇO_MÉDIO_DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO_PADRÃO_DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO_MÍNIMO_DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO_MÁXIMO_DISTRIBUIÇÃO      106823 non-null  object
 17  COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(3), object(10)
memory usage: 16.3+ MB

In [12]:
df.head()

,DATA_INICIAL,DATA_FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO_DE_POSTOS_PESQUISADOS,UNIDADE_DE_MEDIDA,PREÇO_MÉDIO_REVENDA,DESVIO_PADRÃO_REVENDA,PREÇO_MÍNIMO_REVENDA,PREÇO_MÁXIMO_REVENDA,MARGEM_MÉDIA_REVENDA,COEF_DE_VARIAÇÃO_REVENDA,PREÇO_MÉDIO_DISTRIBUIÇÃO,DESVIO_PADRÃO_DISTRIBUIÇÃO,PREÇO_MÍNIMO_DISTRIBUIÇÃO,PREÇO_MÁXIMO_DISTRIBUIÇÃO,COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [13]:
df['MARGEM_MÉDIA_REVENDA']

0         0.463
1         0.399
2         0.419
3         0.432
4          0.24
          ...
106818    0.818
106819     0.95
106820    0.914
106821    0.646
106822    1.179
Name: MARGEM_MÉDIA_REVENDA, Length: 106823, dtype: object

In [14]:
df['MARGEM_MÉDIA_REVENDA'] = pd.to_numeric(df['MARGEM_MÉDIA_REVENDA'],errors='coerce')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA_INICIAL                   106823 non-null  datetime64[ns]
 1   DATA_FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO_DE_POSTOS_PESQUISADOS   106823 non-null  int64
 6   UNIDADE_DE_MEDIDA              106823 non-null  object
 7   PREÇO_MÉDIO_REVENDA            106823 non-null  float64
 8   DESVIO_PADRÃO_REVENDA          106823 non-null  float64
 9   PREÇO_MÍNIMO_REVENDA           106823 non-null  float64
 10  PREÇO_MÁXIMO_REVENDA           106823 non-null  float64
 11  MARGEM_MÉDIA_REVENDA           103392 non-null  float64
 12  COEF_DE_VARIAÇÃO_REVENDA       106823 non-null  float64
 13  PREÇO_MÉDIO_DISTRIBUIÇÃO       106823 non-null  object
 14  DESVIO_PADRÃO_DISTRIBUIÇÃO     106823 non-null  object
 15  PREÇO_MÍNIMO_DISTRIBUIÇÃO      106823 non-null  object
 16  PREÇO_MÁXIMO_DISTRIBUIÇÃO      106823 non-null  object
 17  COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO  106823 non-null  object
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(3), object(9)
memory usage: 16.3+ MB

In [18]:
df['PREÇO_MÉDIO_DISTRIBUIÇÃO'] = pd.to_numeric(df['PREÇO_MÉDIO_DISTRIBUIÇÃO'],errors='coerce')
df['DESVIO_PADRÃO_DISTRIBUIÇÃO'] = pd.to_numeric(df['DESVIO_PADRÃO_DISTRIBUIÇÃO'],errors='coerce')
df['PREÇO_MÍNIMO_DISTRIBUIÇÃO'] = pd.to_numeric(df['PREÇO_MÍNIMO_DISTRIBUIÇÃO'],errors='coerce')
df['PREÇO_MÁXIMO_DISTRIBUIÇÃO'] = pd.to_numeric(df['PREÇO_MÁXIMO_DISTRIBUIÇÃO'],errors='coerce')
df['COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO'] = pd.to_numeric(df['COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO'],errors='coerce')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA_INICIAL                   106823 non-null  datetime64[ns]
 1   DATA_FINAL                     106823 non-null  datetime64[ns]
 2   REGIÃO                         106823 non-null  object
 3   ESTADO                         106823 non-null  object
 4   PRODUTO                        106823 non-null  object
 5   NÚMERO_DE_POSTOS_PESQUISADOS   106823 non-null  int64
 6   UNIDADE_DE_MEDIDA              106823 non-null  object
 7   PREÇO_MÉDIO_REVENDA            106823 non-null  float64
 8   DESVIO_PADRÃO_REVENDA          106823 non-null  float64
 9   PREÇO_MÍNIMO_REVENDA           106823 non-null  float64
 10  PREÇO_MÁXIMO_REVENDA           106823 non-null  float64
 11  MARGEM_MÉDIA_REVENDA           103392 non-null  float64
 12  COEF_DE_VARIAÇÃO_REVENDA       106823 non-null  float64
 13  PREÇO_MÉDIO_DISTRIBUIÇÃO       103423 non-null  float64
 14  DESVIO_PADRÃO_DISTRIBUIÇÃO     103423 non-null  float64
 15  PREÇO_MÍNIMO_DISTRIBUIÇÃO      103423 non-null  float64
 16  PREÇO_MÁXIMO_DISTRIBUIÇÃO      103423 non-null  float64
 17  COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO  103423 non-null  float64
 18  MÊS                            106823 non-null  int64
 19  ANO                            106823 non-null  int64
dtypes: datetime64[ns](2), float64(11), int64(3), object(4)
memory usage: 16.3+ MB

In [20]:
df.isnull().sum()

DATA_INICIAL                        0
DATA_FINAL                          0
REGIÃO                              0
ESTADO                              0
PRODUTO                             0
NÚMERO_DE_POSTOS_PESQUISADOS        0
UNIDADE_DE_MEDIDA                   0
PREÇO_MÉDIO_REVENDA                 0
DESVIO_PADRÃO_REVENDA               0
PREÇO_MÍNIMO_REVENDA                0
PREÇO_MÁXIMO_REVENDA                0
MARGEM_MÉDIA_REVENDA             3431
COEF_DE_VARIAÇÃO_REVENDA            0
PREÇO_MÉDIO_DISTRIBUIÇÃO         3400
DESVIO_PADRÃO_DISTRIBUIÇÃO       3400
PREÇO_MÍNIMO_DISTRIBUIÇÃO        3400
PREÇO_MÁXIMO_DISTRIBUIÇÃO        3400
COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO    3400
MÊS                                 0
ANO                                 0
dtype: int64

In [27]:
data_nula = pd.DataFrame(df[df['MARGEM_MÉDIA_REVENDA'].isnull()])
data_nula

,DATA_INICIAL,DATA_FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO_DE_POSTOS_PESQUISADOS,UNIDADE_DE_MEDIDA,PREÇO_MÉDIO_REVENDA,DESVIO_PADRÃO_REVENDA,PREÇO_MÍNIMO_REVENDA,PREÇO_MÁXIMO_REVENDA,MARGEM_MÉDIA_REVENDA,COEF_DE_VARIAÇÃO_REVENDA,PREÇO_MÉDIO_DISTRIBUIÇÃO,DESVIO_PADRÃO_DISTRIBUIÇÃO,PREÇO_MÍNIMO_DISTRIBUIÇÃO,PREÇO_MÁXIMO_DISTRIBUIÇÃO,COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO,MÊS,ANO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,NaN,0.167,NaN,NaN,NaN,NaN,NaN,9,2005
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN,10,2005
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,NaN,0.010,NaN,NaN,NaN,NaN,NaN,10,2005
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,NaN,0.018,NaN,NaN,NaN,NaN,NaN,2,2006
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,NaN,0.030,NaN,NaN,NaN,NaN,NaN,8,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,NaN,0.043,NaN,NaN,NaN,NaN,NaN,6,2019
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,NaN,0.094,NaN,NaN,NaN,NaN,NaN,6,2019
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,NaN,0.002,NaN,NaN,NaN,NaN,NaN,6,2019
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,NaN,0.028,NaN,NaN,NaN,NaN,NaN,6,2019
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,NaN,0.000,NaN,NaN,NaN,NaN,NaN,6,2019

In [28]:
data_nula['ESTADO'].value_counts()

AMAPA                  407
PARANA                 349
MATO GROSSO            334
CEARA                  299
RIO GRANDE DO NORTE    263
ALAGOAS                230
GOIAS                  214
ESPIRITO SANTO         181
AMAZONAS               176
MATO GROSSO DO SUL     170
DISTRITO FEDERAL       166
PIAUI                  154
MINAS GERAIS           119
SANTA CATARINA          98
SERGIPE                 57
RONDONIA                38
TOCANTINS               30
MARANHAO                29
PERNAMBUCO              26
PARAIBA                 23
PARA                    20
ACRE                    17
RIO GRANDE DO SUL       14
RORAIMA                 14
SAO PAULO                2
RIO DE JANEIRO           1
Name: ESTADO, dtype: int64

In [29]:
data_nula['PRODUTO'].value_counts()

GNV                 2028
GLP                  871
ETANOL HIDRATADO     267
ÓLEO DIESEL S10      186
ÓLEO DIESEL           40
GASOLINA COMUM        39
Name: PRODUTO, dtype: int64

In [32]:
selecao = (data_nula['ESTADO']=='AMAPA') & (data_nula['PRODUTO']=='GNV')
data_nula[selecao]

,DATA_INICIAL,DATA_FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO_DE_POSTOS_PESQUISADOS,UNIDADE_DE_MEDIDA,PREÇO_MÉDIO_REVENDA,DESVIO_PADRÃO_REVENDA,PREÇO_MÍNIMO_REVENDA,PREÇO_MÁXIMO_REVENDA,MARGEM_MÉDIA_REVENDA,COEF_DE_VARIAÇÃO_REVENDA,PREÇO_MÉDIO_DISTRIBUIÇÃO,DESVIO_PADRÃO_DISTRIBUIÇÃO,PREÇO_MÍNIMO_DISTRIBUIÇÃO,PREÇO_MÁXIMO_DISTRIBUIÇÃO,COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO,MÊS,ANO
40154,2009-01-25,2009-01-31,NORTE,AMAPA,GNV,1,R$/m3,2.400,0.0,2.400,2.400,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,2009
41103,2010-03-14,2010-03-20,NORTE,AMAPA,GNV,1,R$/m3,2.400,0.0,2.400,2.400,NaN,0.0,NaN,NaN,NaN,NaN,NaN,3,2010
81032,2016-03-13,2016-03-19,NORTE,AMAPA,GNV,1,R$/m3,4.020,0.0,4.020,4.020,NaN,0.0,NaN,NaN,NaN,NaN,NaN,3,2016
85264,2016-09-25,2016-10-01,NORTE,AMAPA,GNV,1,R$/m3,2.739,0.0,2.739,2.739,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9,2016
85416,2016-10-02,2016-10-08,NORTE,AMAPA,GNV,1,R$/m3,2.739,0.0,2.739,2.739,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10,2016
85568,2016-10-09,2016-10-15,NORTE,AMAPA,GNV,1,R$/m3,2.739,0.0,2.739,2.739,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10,2016
85720,2016-10-16,2016-10-22,NORTE,AMAPA,GNV,1,R$/m3,2.739,0.0,2.739,2.739,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10,2016
85873,2016-10-23,2016-10-29,NORTE,AMAPA,GNV,1,R$/m3,2.739,0.0,2.739,2.739,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10,2016
86026,2016-10-30,2016-11-05,NORTE,AMAPA,GNV,1,R$/m3,2.739,0.0,2.739,2.739,NaN,0.0,NaN,NaN,NaN,NaN,NaN,10,2016
86179,2016-11-06,2016-11-12,NORTE,AMAPA,GNV,1,R$/m3,2.739,0.0,2.739,2.739,NaN,0.0,NaN,NaN,NaN,NaN,NaN,11,2016

In [59]:
selecao_GNV = (data_nula['PRODUTO']=='GNV')
df2 = pd.DataFrame(data_nula[selecao_GNV])
df2

,DATA_INICIAL,DATA_FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO_DE_POSTOS_PESQUISADOS,UNIDADE_DE_MEDIDA,PREÇO_MÉDIO_REVENDA,DESVIO_PADRÃO_REVENDA,PREÇO_MÍNIMO_REVENDA,PREÇO_MÁXIMO_REVENDA,MARGEM_MÉDIA_REVENDA,COEF_DE_VARIAÇÃO_REVENDA,PREÇO_MÉDIO_DISTRIBUIÇÃO,DESVIO_PADRÃO_DISTRIBUIÇÃO,PREÇO_MÍNIMO_DISTRIBUIÇÃO,PREÇO_MÁXIMO_DISTRIBUIÇÃO,COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO,MÊS,ANO
36367,2004-07-25,2004-07-31,NORDESTE,PIAUI,GNV,1,R$/m3,1.399,0.000,1.399,1.399,NaN,0.000,NaN,NaN,NaN,NaN,NaN,7,2004
36383,2004-08-01,2004-08-07,NORDESTE,PIAUI,GNV,1,R$/m3,1.399,0.000,1.399,1.399,NaN,0.000,NaN,NaN,NaN,NaN,NaN,8,2004
36399,2004-08-08,2004-08-14,NORDESTE,PIAUI,GNV,1,R$/m3,1.390,0.000,1.390,1.390,NaN,0.000,NaN,NaN,NaN,NaN,NaN,8,2004
36415,2004-08-15,2004-08-21,NORDESTE,PIAUI,GNV,1,R$/m3,1.399,0.000,1.399,1.399,NaN,0.000,NaN,NaN,NaN,NaN,NaN,8,2004
36431,2004-08-22,2004-08-28,NORDESTE,PIAUI,GNV,1,R$/m3,1.339,0.000,1.339,1.339,NaN,0.000,NaN,NaN,NaN,NaN,NaN,8,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,NaN,0.043,NaN,NaN,NaN,NaN,NaN,6,2019
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,NaN,0.094,NaN,NaN,NaN,NaN,NaN,6,2019
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,NaN,0.002,NaN,NaN,NaN,NaN,NaN,6,2019
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,NaN,0.028,NaN,NaN,NaN,NaN,NaN,6,2019
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,NaN,0.000,NaN,NaN,NaN,NaN,NaN,6,2019

In [62]:
df2['ESTADO'].value_counts()

PARANA                 348
MATO GROSSO            322
GOIAS                  178
AMAZONAS               176
ESPIRITO SANTO         174
MATO GROSSO DO SUL     168
MINAS GERAIS           119
RIO GRANDE DO NORTE     87
SANTA CATARINA          83
CEARA                   82
ALAGOAS                 63
PIAUI                   62
SERGIPE                 41
PERNAMBUCO              24
MARANHAO                20
PARAIBA                 20
PARA                    15
RIO GRANDE DO SUL       13
AMAPA                   10
DISTRITO FEDERAL         8
TOCANTINS                5
ACRE                     5
RONDONIA                 3
SAO PAULO                2
Name: ESTADO, dtype: int64

In [76]:
data_parana = df2[df2['ESTADO']=='PARANA']
data_parana = pd.DataFrame(data_parana)
data_parana

,DATA_INICIAL,DATA_FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO_DE_POSTOS_PESQUISADOS,UNIDADE_DE_MEDIDA,PREÇO_MÉDIO_REVENDA,DESVIO_PADRÃO_REVENDA,PREÇO_MÍNIMO_REVENDA,PREÇO_MÁXIMO_REVENDA,MARGEM_MÉDIA_REVENDA,COEF_DE_VARIAÇÃO_REVENDA,PREÇO_MÉDIO_DISTRIBUIÇÃO,DESVIO_PADRÃO_DISTRIBUIÇÃO,PREÇO_MÍNIMO_DISTRIBUIÇÃO,PREÇO_MÁXIMO_DISTRIBUIÇÃO,COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO,MÊS,ANO
37287,2005-09-11,2005-09-17,SUL,PARANA,GNV,5,R$/m3,1.230,0.287,1.215,1.870,NaN,0.233,1.547,0.0,1.547,1.547,0.0,9,2005
37319,2005-09-25,2005-10-01,SUL,PARANA,GNV,8,R$/m3,1.294,0.008,1.279,1.299,NaN,0.006,NaN,NaN,NaN,NaN,NaN,9,2005
39058,2007-10-07,2007-10-13,SUL,PARANA,GNV,4,R$/m3,1.449,0.000,1.449,1.449,NaN,0.000,NaN,NaN,NaN,NaN,NaN,10,2007
39106,2007-10-28,2007-11-03,SUL,PARANA,GNV,4,R$/m3,1.449,0.000,1.449,1.449,NaN,0.000,NaN,NaN,NaN,NaN,NaN,10,2007
39155,2007-11-18,2007-11-24,SUL,PARANA,GNV,5,R$/m3,1.449,0.000,1.449,1.449,NaN,0.000,NaN,NaN,NaN,NaN,NaN,11,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106217,2019-05-26,2019-06-01,SUL,PARANA,GNV,9,R$/m3,3.194,0.131,3.099,3.499,NaN,0.041,NaN,NaN,NaN,NaN,NaN,5,2019
106367,2019-06-02,2019-06-08,SUL,PARANA,GNV,8,R$/m3,3.193,0.282,3.099,3.890,NaN,0.088,NaN,NaN,NaN,NaN,NaN,6,2019
106517,2019-06-09,2019-06-15,SUL,PARANA,GNV,2,R$/m3,3.499,0.148,3.290,3.499,NaN,0.042,NaN,NaN,NaN,NaN,NaN,6,2019
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,NaN,0.094,NaN,NaN,NaN,NaN,NaN,6,2019
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,NaN,0.000,NaN,NaN,NaN,NaN,NaN,6,2019

In [77]:
data_parana['NÚMERO_DE_POSTOS_PESQUISADOS'].sum()

1971

In [81]:
ser = pd.Series(data_parana['PREÇO_MÉDIO_REVENDA'])
ser

37287     1.230
37319     1.294
39058     1.449
39106     1.449
39155     1.449
          ...
106217    3.194
106367    3.193
106517    3.499
106666    3.132
106815    3.290
Name: PREÇO_MÉDIO_REVENDA, Length: 348, dtype: float64

In [85]:
ser.iloc[0]/ser.iloc[-1]

0.37386018237082064

In [84]:
ser.iloc[-1]

3.29

In [25]:
nulos = df.isnull().sum()/len(df)
nulos

DATA_INICIAL                     0.000000
DATA_FINAL                       0.000000
REGIÃO                           0.000000
ESTADO                           0.000000
PRODUTO                          0.000000
NÚMERO_DE_POSTOS_PESQUISADOS     0.000000
UNIDADE_DE_MEDIDA                0.000000
PREÇO_MÉDIO_REVENDA              0.000000
DESVIO_PADRÃO_REVENDA            0.000000
PREÇO_MÍNIMO_REVENDA             0.000000
PREÇO_MÁXIMO_REVENDA             0.000000
MARGEM_MÉDIA_REVENDA             0.032119
COEF_DE_VARIAÇÃO_REVENDA         0.000000
PREÇO_MÉDIO_DISTRIBUIÇÃO         0.031828
DESVIO_PADRÃO_DISTRIBUIÇÃO       0.031828
PREÇO_MÍNIMO_DISTRIBUIÇÃO        0.031828
PREÇO_MÁXIMO_DISTRIBUIÇÃO        0.031828
COEF_DE_VARIAÇÃO_DISTRIBUIÇÃO    0.031828
MÊS                              0.000000
ANO                              0.000000
dtype: float64